<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanji.sjzx.aftersale.dao.QhFormMapper" >
  <resultMap id="BaseResultMap" type="com.sanji.sjzx.model.QhForm" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="EXPRESS_NUMBER" property="expressNumber" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="ABORT_REASON" property="abortReason" jdbcType="VARCHAR" />
    <result column="READ_USER_ID" property="readUserId" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <!-- 以下是关联字段 -->
     <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="QUANTITY" property="quantity" jdbcType="DECIMAL" />
    <result column="ITEMREMARK" property="itemRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, REMARK, CREATE_TIME, ADDRESS, EXPRESS_NUMBER, STATUS, ABORT_REASON, READ_USER_ID, 
    USER_NAME
  </sql>
  <!-- 添加取货单 -->
  <insert id="addQhForm" parameterType="java.lang.String">
  	insert into SJ_TB_QH_FORM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="expressNumber != null" >
        EXPRESS_NUMBER,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="abortReason != null" >
        ABORT_REASON,
      </if>
      <if test="readUserId != null" >
        READ_USER_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="expressNumber != null" >
        #{expressNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="abortReason != null" >
        #{abortReason,jdbcType=VARCHAR},
      </if>
      <if test="readUserId != null" >
        #{readUserId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SJ_TB_QH_FORM
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SJ_TB_QH_FORM
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sanji.sjzx.model.QhForm" >
    insert into SJ_TB_QH_FORM (ID, REMARK, CREATE_TIME, 
      ADDRESS, EXPRESS_NUMBER, STATUS, 
      ABORT_REASON, READ_USER_ID, USER_NAME
      )
    values (#{id,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{address,jdbcType=VARCHAR}, #{expressNumber,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{abortReason,jdbcType=VARCHAR}, #{readUserId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanji.sjzx.model.QhForm" >
    insert into SJ_TB_QH_FORM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="expressNumber != null" >
        EXPRESS_NUMBER,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="abortReason != null" >
        ABORT_REASON,
      </if>
      <if test="readUserId != null" >
        READ_USER_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="expressNumber != null" >
        #{expressNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="abortReason != null" >
        #{abortReason,jdbcType=VARCHAR},
      </if>
      <if test="readUserId != null" >
        #{readUserId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanji.sjzx.model.QhForm" >
    update SJ_TB_QH_FORM
    <set >
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="expressNumber != null" >
        EXPRESS_NUMBER = #{expressNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="abortReason != null" >
        ABORT_REASON = #{abortReason,jdbcType=VARCHAR},
      </if>
      <if test="readUserId != null" >
        READ_USER_ID = #{readUserId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanji.sjzx.model.QhForm" >
    update SJ_TB_QH_FORM
    set REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      ADDRESS = #{address,jdbcType=VARCHAR},
      EXPRESS_NUMBER = #{expressNumber,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      ABORT_REASON = #{abortReason,jdbcType=VARCHAR},
      READ_USER_ID = #{readUserId,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>