<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanji.sjzx.aftersale.dao.ThFormMapper" >
  <resultMap id="BaseResultMap" type="com.sanji.sjzx.model.ThForm" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="MONEY" property="money" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="ABORT_REASON" property="abortReason" jdbcType="VARCHAR" />
    <result column="QH_FORM_ID" property="qhFormId" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="READ_USER_ID" property="readUserId" jdbcType="VARCHAR" />
    <result column="EXPRESS_NUMBER" jdbcType="VARCHAR" property="expressNumber" />
    <!-- 以下为关联字段 -->
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="SHIPSTATUS" property="shipStatus" jdbcType="VARCHAR" />
    <result column="USERID" property="userId" jdbcType="VARCHAR" />
    <result column="ORDERNO" property="orderNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREATE_TIME, ORDER_ID, MONEY, STATUS, ABORT_REASON, QH_FORM_ID, REMARK, READ_USER_ID,EXPRESS_NUMBER
  </sql>
  <sql id="init_Column_List" >
    ID, CREATE_TIME, ORDER_ID, MONEY, STATUS, ABORT_REASON, QH_FORM_ID, REMARK, READ_USER_ID,USERNAME,EXPRESS_NUMBER
  </sql>
  <!-- 查询orderNum -->
  <select id="gainThFormForOrderNumById" resultType="java.lang.String" parameterType="com.sanji.sjzx.model.ThForm">
  		select o.order_num as orderNumber
        from SJ_TB_TH_FORM  f left join sj_tb_order o on f.order_id = o.id 
        where f.id = #{d,jdbcType=VARCHAR}
  </select>
  <!-- 查询订单状态 -->
  <select id="gainOderShipStatus" resultType="java.lang.String" parameterType="com.sanji.sjzx.model.ThForm">
   select o.ship_status as shipStatus from SJ_TB_TH_FORM  f left join sj_tb_order o on f.order_id = o.id  
    where  f.ID = #{id,jdbcType=VARCHAR}
  </select>
  <!-- 更新取货单状态 -->
  <update id="updateThForm"  parameterType="com.sanji.sjzx.model.ThForm">
    update SJ_TB_TH_FORM
    <set >
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=OTHER},
      </if>
      <if test="money != null" >
        MONEY = #{money,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="abortReason != null" >
        ABORT_REASON = #{abortReason,jdbcType=VARCHAR},
      </if>
      <if test="qhFormId != null" >
        QH_FORM_ID = #{qhFormId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="readUserId != null" >
        READ_USER_ID = #{readUserId,jdbcType=VARCHAR},
      </if>
      <if test="expressNumber != null" >
        EXPRESS_NUMBER = #{expressNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 根据id获取用户名和密码 -->
  <select id="gainUserNameAndModbileById" resultMap="BaseResultMap" parameterType="java.lang.String">
    select f.ID, m.username as username,m.MOBILE as mobile,o.ship_status as shipStatus,f.REMARK as remark
        from SJ_TB_TH_FORM  f left join sj_tb_order o on f.order_id = o.id left join sj_tb_members m on o.member_id = m.id 
        where f.ID = #{id,jdbcType=VARCHAR} for update
  </select>
  <!-- 获取退货初始状态的列表 -->
  <select id="gainThFormInitList" resultMap="BaseResultMap" parameterType="com.sanji.sjzx.model.ThForm">
    
  
    select * from (select * from (  
  		select ROWNUM AS RN,t.* from (
	  		   select f.ID as ID ,f.CREATE_TIME as CREATE_TIME ,f.ORDER_ID as ORDER_ID, O.TOTAL_COST  as MONEY, f.STATUS as STATUS, f.ABORT_REASON as ABORT_REASON, f.QH_FORM_ID as QH_FORM_ID, f.REMARK as REMARK,o.ship_status as shipStatus, o.order_num as orderNo ,f.READ_USER_ID as READ_USER_ID,m.id as userId,m.username as username,m.MOBILE as mobile 
			    from SJ_TB_TH_FORM  f left join sj_tb_order o on f.order_id = o.id left join sj_tb_members m on o.member_id = m.id 
			    where  f.STATUS = 'INIT' and f.READ_USER_ID is null and f.money = 0
			     <if test="orderNo != null and orderNo !=''">
			       and  o.order_num = #{orderNo,jdbcType=VARCHAR}
			    </if>
			    <if test="username != null and username !=''">
			       and m.username = #{username,jdbcType=VARCHAR}
			    </if>
			   
			    union
			    
			    select f.ID as ID ,f.CREATE_TIME as CREATE_TIME ,f.ORDER_ID as ORDER_ID, f.MONEY as MONEY, f.STATUS as STATUS, f.ABORT_REASON as ABORT_REASON, f.QH_FORM_ID as QH_FORM_ID, f.REMARK as REMARK,o.ship_status as shipStatus,o.order_num as orderNo,f.READ_USER_ID as READ_USER_ID,m.id as userId,m.username as username,m.MOBILE as mobile 
			    from SJ_TB_TH_FORM  f left join sj_tb_order o on f.order_id = o.id left join sj_tb_members m on o.member_id = m.id 
			    where  f.STATUS = 'INIT' and f.READ_USER_ID is null and f.money != 0
			     <if test="orderNo != null and orderNo !=''">
			       and o.order_num = #{orderNo,jdbcType=VARCHAR}
			    </if>
			    <if test="username != null and username !=''">
			       and m.username = #{username,jdbcType=VARCHAR}
			    </if>
			    <if test="sort != null">
					order by CREATE_TIME
			   </if>
			   <if test="order != null">
			        ${order}
			   </if>
	    ) t
     ) where <![CDATA[RN <= #{page}*#{rows}]]>) where  RN>(#{page}-1)*#{rows}
  </select>
   <!-- 获取退货非初始状态的列表 -->
  <select id="gainThFormList" resultMap="BaseResultMap" parameterType="com.sanji.sjzx.model.ThForm">
    
  
   select * from (select * from (  
  		select ROWNUM AS RN,t.* from (
	  		 select f.ID as ID ,f.CREATE_TIME as CREATE_TIME ,f.ORDER_ID as ORDER_ID, f.MONEY as MONEY, f.STATUS as STATUS, f.ABORT_REASON as ABORT_REASON, f.QH_FORM_ID as QH_FORM_ID, f.REMARK as REMARK,o.ship_status as shipStatus, o.order_num as orderNo,f.READ_USER_ID as READ_USER_ID,m.id as userId,m.username as username,m.MOBILE as mobile 
		    from SJ_TB_TH_FORM  f left join sj_tb_order o on f.order_id = o.id left join sj_tb_members m on o.member_id = m.id 
		    where f.READ_USER_ID = #{readUserId,jdbcType=VARCHAR} 
		    <if test="orderNo != null and orderNo !=''">
		       and o.order_num = #{orderNo,jdbcType=VARCHAR}
		    </if>
		    <if test="username != null and username !=''">
		       and m.username = #{username,jdbcType=VARCHAR}
		    </if>
		    <if test="shipStatus != null and shipStatus !=''">
		    	and o.ship_status = #{shipStatus,jdbcType=VARCHAR}
		    </if>
		    <if test="sort != null">
				order by CREATE_TIME
		   </if>
		   <if test="order != null">
		        ${order}
		   </if>
	    ) t
     ) where <![CDATA[RN <= #{page}*#{rows}]]>) where  RN>(#{page}-1)*#{rows}
  </select>
  <!-- 获取非初始化退货总数 -->
  <select id="gainThFormCount" resultType="java.lang.Long" parameterType="com.sanji.sjzx.model.ThForm">
  		select count(ID) from SJ_TB_TH_FORM where  READ_USER_ID = #{readUserId,jdbcType=VARCHAR}
  </select>
  <!-- 获取退货总数 -->
  <select id="gainThFormInitCount" resultType="java.lang.Long" parameterType="com.sanji.sjzx.model.ThForm">
  		select count(ID) from SJ_TB_TH_FORM where  STATUS = 'INIT'
  </select>
  <!-- 根据id 查询退货单 -->
  <select id="gainThFormById" resultMap="BaseResultMap" parameterType="java.lang.String">
   	select f.ID as ID ,f.CREATE_TIME as CREATE_TIME ,f.ORDER_ID as ORDER_ID, f.MONEY as MONEY, f.STATUS as STATUS, f.ABORT_REASON as ABORT_REASON, f.QH_FORM_ID as QH_FORM_ID, f.REMARK as REMARK, f.READ_USER_ID as READ_USER_ID,m.username as username,m.MOBILE as mobile 
    from SJ_TB_TH_FORM  f left join sj_tb_order o on f.order_id = o.id left join sj_tb_members m on o.member_id = m.id 
    where f.ID = #{id,jdbcType=VARCHAR} 
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SJ_TB_TH_FORM
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SJ_TB_TH_FORM
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sanji.sjzx.model.ThForm" >
    insert into SJ_TB_TH_FORM (ID, CREATE_TIME, ORDER_ID, 
      MONEY, STATUS, ABORT_REASON, 
      QH_FORM_ID, REMARK, READ_USER_ID,EXPRESS_NUMBER
      )
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{orderId,jdbcType=OTHER}, 
      #{money,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, #{abortReason,jdbcType=VARCHAR}, 
      #{qhFormId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{readUserId,jdbcType=VARCHAR},
      #{expressNumber,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanji.sjzx.model.ThForm" >
    insert into SJ_TB_TH_FORM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="money != null" >
        MONEY,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="abortReason != null" >
        ABORT_REASON,
      </if>
      <if test="qhFormId != null" >
        QH_FORM_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="readUserId != null" >
        READ_USER_ID,
      </if>
      <if test="expressNumber != null" >
        EXPRESS_NUMBER = #{expressNumber,jdbcType=VARCHAR},
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=OTHER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="abortReason != null" >
        #{abortReason,jdbcType=VARCHAR},
      </if>
      <if test="qhFormId != null" >
        #{qhFormId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="readUserId != null" >
        #{readUserId,jdbcType=VARCHAR},
      </if>
      <if test="expressNumber != null" >
        EXPRESS_NUMBER = #{expressNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
   <!-- 有选择性的更新退货单 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.sanji.sjzx.model.ThForm" >
    update SJ_TB_TH_FORM
    <set >
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=OTHER},
      </if>
      <if test="money != null" >
        MONEY = #{money,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="abortReason != null" >
        ABORT_REASON = #{abortReason,jdbcType=VARCHAR},
      </if>
      <if test="qhFormId != null" >
        QH_FORM_ID = #{qhFormId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="readUserId != null" >
        READ_USER_ID = #{readUserId,jdbcType=VARCHAR},
      </if>
      <if test="expressNumber != null" >
        EXPRESS_NUMBER = #{expressNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanji.sjzx.model.ThForm" >
    update SJ_TB_TH_FORM
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      ORDER_ID = #{orderId,jdbcType=OTHER},
      MONEY = #{money,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=VARCHAR},
      ABORT_REASON = #{abortReason,jdbcType=VARCHAR},
      QH_FORM_ID = #{qhFormId,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      READ_USER_ID = #{readUserId,jdbcType=VARCHAR},
      EXPRESS_NUMBER = #{expressNumber,jdbcType=VARCHAR},
     
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>