<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanji.sjzx.integral.dao.IntegralGoodsMapper">
  <resultMap id="BaseResultMap" type="com.sanji.sjzx.model.IntegralGoods">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PRICE" jdbcType="DECIMAL" property="price" />
    <result column="INTEGRAL" jdbcType="DECIMAL" property="integral" />
    <result column="STOCK" jdbcType="DECIMAL" property="stock" />
    <result column="ISSHELVES" jdbcType="VARCHAR" property="isshelves" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="PIC" jdbcType="VARCHAR" property="pic" />
    <result column="INTEGRAL_CODE" jdbcType="VARCHAR" property="integralCode" />
    <result column="SPEC_CODE" jdbcType="VARCHAR" property="specCode" />
    <result column="SHELVES_TIME" jdbcType="TIMESTAMP" property="shelvesTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, PRICE, INTEGRAL, STOCK, ISSHELVES,TYPE, PIC, INTEGRAL_CODE,SPEC_CODE,SHELVES_TIME
  </sql>
  <!-- 获取积分商品列表 -->
  <select id="gainIntegralGoodsList" parameterType="com.sanji.sjzx.model.IntegralGoods" resultType="com.sanji.sjzx.model.IntegralGoods">
  select * from (select * from (  
  select ROWNUM AS RN,t.* from (  
  
    select  ID, NAME, PRICE, INTEGRAL, STOCK, ISSHELVES,TYPE, PIC , INTEGRAL_CODE as integralCode,SPEC_CODE as specCode from SJ_TB_INTEGRAL_GOODS
    where NAME like '%${name}%' and ISSHELVES ='true'
    <if test="integralCode !=null and integralCode !=''">
    and INTEGRAL_CODE = #{integralCode,jdbcType=VARCHAR}
    </if>
    <if test="specCode !=null and specCode !=''">
    and SPEC_CODE = #{specCode,jdbcType=VARCHAR}
    </if>
    <if test="type !=null and type !='' and type !='-1'">
    and type = #{type,jdbcType=VARCHAR}
    </if>
  	)t	
  )where <![CDATA[RN <= #{page}*#{rows}]]>) where  RN>(#{page}-1)*#{rows}  
  </select>
  <!-- 获取积分商品列表行数 -->
  <select id="gainIntegralGoodsCount" parameterType="com.sanji.sjzx.model.IntegralGoods" resultType="Long">
  	select count(ID) from SJ_TB_INTEGRAL_GOODS where ISSHELVES ='true'
  </select>
  <!-- 添加时根据积分商品名称查询是否存在此积分商品 -->
  <select id="gainIntegralGoodsByName" parameterType="java.lang.String" resultType="com.sanji.sjzx.model.IntegralGoods">
  	select ID, NAME, PRICE, INTEGRAL, STOCK, ISSHELVES,TYPE, PIC,INTEGRAL_CODE as integralCode,SPEC_CODE as specCode  from SJ_TB_INTEGRAL_GOODS where NAME =#{name,jdbcType=VARCHAR}
  </select>
  <!-- 添加时根据商品代码查询是否存在此积分商品 -->
  <select id="gainIntegralGoodsByIntegralCode" parameterType="java.lang.String" resultType="com.sanji.sjzx.model.IntegralGoods">
  	select ID, NAME, PRICE, INTEGRAL, STOCK, ISSHELVES,TYPE, PIC,INTEGRAL_CODE as integralCode,SPEC_CODE as specCode from SJ_TB_INTEGRAL_GOODS where INTEGRAL_CODE =#{integralCode,jdbcType=VARCHAR}
  </select>
  <!-- 添加时根据规格代码查询是否存在此积分商品 -->
  <select id="gainIntegralGoodsBySpecCode" parameterType="java.lang.String" resultType="com.sanji.sjzx.model.IntegralGoods">
  	select ID, NAME, PRICE, INTEGRAL, STOCK, ISSHELVES,TYPE, PIC,INTEGRAL_CODE as integralCode,SPEC_CODE as specCode from SJ_TB_INTEGRAL_GOODS where SPEC_CODE =#{specCode,jdbcType=VARCHAR}
  </select>
  <!-- 跳转到修改时根据积分商品id查询是否存在此积分商品 -->
  <select id="gainIntegralGoodsById" parameterType="java.lang.String" resultType="com.sanji.sjzx.model.IntegralGoods">
  	select ID, NAME, PRICE, INTEGRAL, STOCK, ISSHELVES,TYPE, PIC,INTEGRAL_CODE as integralCode,SPEC_CODE as specCode from SJ_TB_INTEGRAL_GOODS where ID =#{id,jdbcType=VARCHAR}
  </select>
  <!-- 修改时根据积分商品id和积分商品名称查询是否存在此积分商品 -->
  <select id="gainIntegralGoodsByIdandName" parameterType="java.util.Map" resultType="com.sanji.sjzx.model.IntegralGoods">
  	select ID, NAME, PRICE, INTEGRAL, STOCK, ISSHELVES,TYPE, PIC,INTEGRAL_CODE as integralCode,SPEC_CODE as specCode from SJ_TB_INTEGRAL_GOODS where ID != #{id,jdbcType=VARCHAR}
  	and NAME = #{name,jdbcType=VARCHAR}
  </select>
  <!-- 修改时根据id和商品代码查询是否存在此积分商品 -->
  <select id="gainIntegralGoodsByIdandIntegralCode" parameterType="java.util.Map" resultType="com.sanji.sjzx.model.IntegralGoods">
  	select ID, NAME, PRICE, INTEGRAL, STOCK, ISSHELVES,TYPE, PIC,INTEGRAL_CODE as integralCode,SPEC_CODE as specCode from SJ_TB_INTEGRAL_GOODS where ID != #{id,jdbcType=VARCHAR}
  	and INTEGRAL_CODE = #{integralCode,jdbcType=VARCHAR}
  </select>
  <!-- 修改时根据id和规格代码查询是否存在此积分商品 -->
    <select id="gainIntegralGoodsByIdandSpecCode" parameterType="java.util.Map" resultType="com.sanji.sjzx.model.IntegralGoods">
  	select ID, NAME, PRICE, INTEGRAL, STOCK, ISSHELVES,TYPE, PIC,INTEGRAL_CODE as integralCode,SPEC_CODE as specCode from SJ_TB_INTEGRAL_GOODS where ID != #{id,jdbcType=VARCHAR}
  	and SPEC_CODE = #{specCode,jdbcType=VARCHAR}
  </select>
  <!-- 添加积分商品信息 -->
  <insert id="addIntegralGoods" parameterType="com.sanji.sjzx.model.IntegralGoods">
    insert into SJ_TB_INTEGRAL_GOODS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="integral != null">
        INTEGRAL,
      </if>
      <if test="stock != null">
        STOCK,
      </if>
      <if test="isshelves != null">
        ISSHELVES,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="pic != null">
        PIC,
      </if>
      <if test="integralCode !=null">
      	INTEGRAL_CODE,
      </if>
      <if test="specCode !=null">
      	SPEC_CODE,
      </if>
      <if test="shelvesTime !=null">
      	SHELVES_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=DECIMAL},
      </if>
      <if test="isshelves != null">
        #{isshelves,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="integralCode != null">
        #{integralCode,jdbcType=VARCHAR},
      </if>
      <if test="specCode != null">
        #{specCode,jdbcType=VARCHAR},
      </if>
      <if test="shelvesTime !=null">
      	#{shelvesTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <!-- 修改积分商品信息 -->
  <update id="updateIntegralGoods" parameterType="com.sanji.sjzx.model.IntegralGoods">
    update SJ_TB_INTEGRAL_GOODS
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="integral != null">
        INTEGRAL = #{integral,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        STOCK = #{stock,jdbcType=DECIMAL},
      </if>
      <if test="isshelves != null">
        ISSHELVES = #{isshelves,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        PIC = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="integralCode !=null">
      	INTEGRAL_CODE = #{integralCode,jdbcType=VARCHAR},
      </if>
      <if test="specCode !=null">
      	SPEC_CODE = #{specCode,jdbcType=VARCHAR},
      </if>
      <if test="shelvesTime !=null">
      	SHELVES_TIME = #{shelvesTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 删除相应记录的积分商品信息 -->
  <delete id="dropIntegralGoods" parameterType="java.util.List">
    <![CDATA[delete from SJ_TB_INTEGRAL_GOODS where ID in ]]>
    <foreach collection="list" item="ids"  open="(" separator="," close=")">#{ids}</foreach> 
  </delete>
  <!-- 获取下架积分商品列表 -->
  <select id="gainShelvesIntegralGoodsList" parameterType="com.sanji.sjzx.model.IntegralGoods" resultType="com.sanji.sjzx.model.IntegralGoods">
  select * from (select * from (  
  select ROWNUM AS RN,t.* from (  
  
    select  ID, NAME, PRICE, INTEGRAL, STOCK, ISSHELVES,TYPE, PIC , INTEGRAL_CODE as integralCode,SPEC_CODE as specCode,SHELVES_TIME as shelvesTime from SJ_TB_INTEGRAL_GOODS
    where NAME like '%${name}%' and ISSHELVES ='false'
    <if test="integralCode !=null and integralCode !=''">
    and INTEGRAL_CODE = #{integralCode,jdbcType=VARCHAR}
    </if>
    <if test="specCode !=null and specCode !=''">
    and SPEC_CODE = #{specCode,jdbcType=VARCHAR}
    </if>
    <if test="type !=null and type !='' and type !='-1'">
    and type = #{type,jdbcType=VARCHAR}
    </if>
  	)t	
  )where <![CDATA[RN <= #{page}*#{rows}]]>) where  RN>(#{page}-1)*#{rows}  
  </select>
  <!-- 获取下架积分商品列表行数 -->
  <select id="gainShelvesIntegralGoodsCount" parameterType="com.sanji.sjzx.model.IntegralGoods" resultType="Long">
  	select count(ID) from SJ_TB_INTEGRAL_GOODS where ISSHELVES ='false'
  </select>
  <!-- 恢复上架积分商品 -->
  <update id="updateRecover" parameterType="com.sanji.sjzx.model.IntegralGoods">
  	update SJ_TB_INTEGRAL_GOODS
    <set>
      <if test="isshelves != null">
        ISSHELVES = #{isshelves,jdbcType=VARCHAR},
      </if>
     </set>
    where ID = #{id,jdbcType=VARCHAR}	
  </update>
  <!-- 恢复时修改积分商品价格 -->
  <update id="updatePrice" parameterType="com.sanji.sjzx.model.IntegralGoods">
   update SJ_TB_INTEGRAL_GOODS
    <set>
      <if test="price != null">
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        STOCK = #{stock,jdbcType=DECIMAL},
      </if>
     </set>
    where ID = #{id,jdbcType=VARCHAR}	
  </update>
</mapper>