<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanji.sjzx.authorityManage.role.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.sanji.sjzx.model.Role" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="MODIFYTIME" property="modifytime" jdbcType="TIMESTAMP" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="DISABLED" property="disabled" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, REMARK, CREATETIME, MODIFYTIME, USER_ID, DISABLED
  </sql>
  
  <!-- 查询角色列表 -->
  <select id="gainRoleList" parameterType="com.sanji.sjzx.model.Role" resultMap="BaseResultMap">
  	select * from (select * from (  
  		select ROWNUM AS RN,t.* from (
	  		select 
		    <include refid="Base_Column_List" />
		    from SJ_TB_ROLE where DISABLED = 'false' order by CREATETIME desc
	    ) t
     ) where <![CDATA[RN <= #{page}*#{rows}]]>) where  RN>(#{page}-1)*#{rows}
  </select>
  <select id="gainRoleListForCombobox" resultMap="BaseResultMap">
  	select * from (select * from (  
  		select ROWNUM AS RN,t.* from (
	  		select 
		    ID as roleId, NAME, REMARK, CREATETIME, MODIFYTIME, USER_ID, DISABLED
		    from SJ_TB_ROLE where DISABLED = 'false' order by CREATETIME desc
	    ) t
     ) where <![CDATA[RN <= #{page}*#{rows}]]>) where  RN>(#{page}-1)*#{rows}
  </select>
  
  <!-- 获取总行数 -->
  <select id="gainRoleCount" parameterType="com.sanji.sjzx.model.Role" resultType="Long"> 
  	select count(ID) from SJ_TB_ROLE where DISABLED = 'false' 
  </select>

  <!-- 根据角色名称查询 -->
  <select id="gainRoleByName" parameterType="String" resultMap="BaseResultMap"> 
  	select <include refid="Base_Column_List" />
  	 from SJ_TB_ROLE where "NAME" = #{name,jdbcType=VARCHAR}  and DISABLED = 'false' 
  </select>

  <!-- 单条或批量删除角色(逻辑删除) -->
  <delete id="deleteRole" parameterType="java.util.List" >
   <![CDATA[update SJ_TB_ROLE set DISABLED = 'true'
    where ID in ]]>         
       <foreach collection="list" item="rids"  open="(" separator="," close=")">#{rids}</foreach>    
  </delete>
  
  <!-- 单条或批量删除角色(物理删除) -->
  <delete id="dropRole" parameterType="java.util.List" >
   <![CDATA[delete from SJ_TB_ROLE 
    where ID in ]]>         
       <foreach collection="list" item="rids"  open="(" separator="," close=")">#{rids}</foreach>
  </delete>

  <!-- 添加角色 -->  
  <insert id="addRole" parameterType="com.sanji.sjzx.model.Role" >
    insert into SJ_TB_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="modifytime != null" >
        MODIFYTIME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="disabled != null" >
        DISABLED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null" >
        #{disabled,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 编辑角色 -->
  <update id="modifyRole" parameterType="com.sanji.sjzx.model.Role" >
    update SJ_TB_ROLE
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=DATE},
      </if>
      <if test="modifytime != null" >
        MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null" >
        DISABLED = #{disabled,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!--根据用户ID查询角色信息  -->
  <select id="gainRoleByAdminId" resultType="com.sanji.sjzx.model.Role" parameterType="java.lang.String">
  	select <include refid="Base_Column_List" /> from SJ_TB_role t where t.disabled ='false' and t.id in (select r.role_id from SJ_TB_admin_role r where r.admin_id = #{adminId,jdbcType=VARCHAR}) 
  </select>
</mapper>