<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanji.sjzx.apps.dao.AppsMapper">
  <resultMap id="BaseResultMap" type="com.sanji.sjzx.model.Apps">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="SHOP_NAME" jdbcType="VARCHAR" property="shopName" />
    <result column="BUSINESS_AREA" jdbcType="NUMERIC" property="businessArea" />
    <result column="COUNTER_NUM" jdbcType="NUMERIC" property="counterNum" />
    <result column="BUSINESS_YEAR" jdbcType="NUMERIC" property="businessYear" />
    <result column="SHOPKEEPER_NAME" jdbcType="VARCHAR" property="shopkeeperName" />
    <result column="SHOPKEEPER_BIRTH" jdbcType="TIMESTAMP" property="shopkeeperBirth" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="ANNIVERSARY_BIRTH" jdbcType="TIMESTAMP" property="anniversaryBirth" />
    <result column="FUNCTION_LING_SANBAI" jdbcType="NUMERIC" property="functionLingSanbai" />
    <result column="FUNCTION_SANBAI_LIUBAI" jdbcType="NUMERIC" property="functionSanbaiLiubai" />
    <result column="FUNCTION_LIUBAI_YIQIAN" jdbcType="NUMERIC" property="functionLiubaiYiqian" />
    <result column="FUNCTION_YIQIAN_YIQIANWU" jdbcType="NUMERIC" property="functionYiqianYiqianwu" />
    <result column="FUNCTION_YIQIANWU_MORE" jdbcType="NUMERIC" property="functionYiqianwuMore" />
    <result column="SMART_LING_SANBAI" jdbcType="NUMERIC" property="smartLingSanbai" />
    <result column="SMART_SANBAI_LIUBAI" jdbcType="NUMERIC" property="smartSanbaiLiubai" />
    <result column="SMART_LIUBAI_YIQIAN" jdbcType="NUMERIC" property="smartLiubaiYiqian" />
    <result column="SMART_YIQIAN_YIQIANWU" jdbcType="NUMERIC" property="smartYiqianYiqianwu" />
    <result column="SMART_YIQIANWU_MORE" jdbcType="NUMERIC" property="smartYiqianwuMore" />
    <result column="STORE" jdbcType="NUMERIC" property="store" />
    <result column="AGENT" jdbcType="NUMERIC" property="agent" />
    <result column="OPERATION" jdbcType="NUMERIC" property="operation" />
    <result column="FACTORY" jdbcType="NUMERIC" property="factory" />
    <result column="STOCK_RATE" jdbcType="NUMERIC" property="stockRate" />
    <result column="STOCK_NUM" jdbcType="NUMERIC" property="stockNum" />
    <result column="BRAND1" jdbcType="VARCHAR" property="brand1" />
    <result column="BRAND2" jdbcType="VARCHAR" property="brand2" />
    <result column="BRAND3" jdbcType="VARCHAR" property="brand3" />
    <result column="BRAND4" jdbcType="VARCHAR" property="brand4" />
    <result column="BRAND_OTHER" jdbcType="VARCHAR" property="brandOther" />
    <result column="SALE1" jdbcType="NUMERIC" property="sale1" />
    <result column="SALE2" jdbcType="NUMERIC" property="sale2" />
    <result column="SALE3" jdbcType="NUMERIC" property="sale3" />
    <result column="SALE4" jdbcType="NUMERIC" property="sale4" />
    <result column="SALE_OTHER" jdbcType="NUMERIC" property="saleOther" />
    <result column="ZHENGMIAN" jdbcType="VARCHAR" property="zhengmian" />
    <result column="HEYING" jdbcType="VARCHAR" property="heying" />
    <result column="QIANMIAN" jdbcType="VARCHAR" property="qianmian" />
    <result column="HOUMIAN" jdbcType="VARCHAR" property="houmian" />
    <result column="ZUOMIAN" jdbcType="VARCHAR" property="zuomian" />
    <result column="YOUMIAN" jdbcType="VARCHAR" property="youmian" />
    <result column="IMG_TYPE" jdbcType="VARCHAR" property="imgType" />
    <result column="MEMBER_ID" jdbcType="VARCHAR" property="memberId" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="shopkeeperBirthStr" jdbcType="VARCHAR" property="shopkeeperBirthStr"/>
    <result column="anniversaryBirthStr" jdbcType="VARCHAR" property="anniversaryBirthStr"/>
    <!-- 新添辅助字段 -->
    <result column="oid" jdbcType="VARCHAR" property="oid"/>
    <result column="nums" jdbcType="VARCHAR" property="nums"/>
    <result column="totalCost" jdbcType="VARCHAR" property="totalCost"/>
    <result column="tname" jdbcType="VARCHAR" property="tname" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ADDRESS, SHOP_NAME, BUSINESS_AREA, COUNTER_NUM, BUSINESS_YEAR, SHOPKEEPER_NAME, 
    SHOPKEEPER_BIRTH, MOBILE, TELEPHONE, QQ, ANNIVERSARY_BIRTH, FUNCTION_LING_SANBAI, 
    FUNCTION_SANBAI_LIUBAI, FUNCTION_LIUBAI_YIQIAN, FUNCTION_YIQIAN_YIQIANWU, FUNCTION_YIQIANWU_MORE, 
    SMART_LING_SANBAI, SMART_SANBAI_LIUBAI, SMART_LIUBAI_YIQIAN, SMART_YIQIAN_YIQIANWU, 
    SMART_YIQIANWU_MORE, STORE, AGENT, OPERATION, FACTORY, STOCK_RATE, STOCK_NUM, BRAND1, 
    BRAND2, BRAND3, BRAND4, BRAND_OTHER, SALE1, SALE2, SALE3, SALE4, SALE_OTHER, ZHENGMIAN, 
    HEYING, QIANMIAN, HOUMIAN, ZUOMIAN, YOUMIAN, IMG_TYPE,MEMBER_ID,USER_ID
  </sql>
  <!-- 获取app列表 -->
  <select id="gainAppsList" parameterType="com.sanji.sjzx.model.Apps" resultType="com.sanji.sjzx.model.Apps">
  	select * from (select * from (  
	   select ROWNUM AS RN,t.* from (  
	   
select mname,tname,id,shop_name as shopName,address,zhengmian,shopkeeperName,shopkeeperBirth, anniversaryBirth,username as aname,stockRate,stockNum,
         pm,om,disabled,targetType,totalCost,oid,nums from
   
   (select g.mname,g.tname,g.id,g.shop_name,g.address,g.zhengmian,g.shopkeeperName,g.shopkeeperBirth,g.anniversaryBirth,
          g.username,g.stockRate,g.stockNum,g.pm,g.om,g.disabled,g.targetType,g.oid,g.nums,sum(r.total_cost) as totalCost from
          
            (select f.mname,f.tname,f.id,f.shop_name,f.address,f.zhengmian,f.shopkeeperName,f.shopkeeperBirth,f.anniversaryBirth,
                    f.username,f.stockRate,f.stockNum,f.pm,f.om,f.disabled,f.targetType,count(f.oid) as oid,sum(f.nums) as nums from
                        
                      (select n.mname,n.tname,n.id,n.shop_name,n.address,n.zhengmian,n.shopkeeperName,n.shopkeeperBirth,n.anniversaryBirth,
                              n.username,n.stockRate,n.stockNum,n.pm,n.om,n.disabled,n.oid,i.target_type as targetType,i.nums as nums from 
                                      
                            (select m.username as mname,m.truename as tname,p.id as id,
                                    p.shop_name,p.address,p.zhengmian,p.SHOPKEEPER_NAME as shopkeeperName,
                                    p.shopkeeper_birth as shopkeeperBirth,p.anniversary_birth as anniversaryBirth,
                                    a.username, 
                                    p.stock_rate as stockRate,p.stock_num as stockNum,
                                    p.member_id as pm,o.member_id as om,o.disabled,o.id as oid
                             from sj_tb_app p
                             left outer join sj_tb_members m on m.id=p.member_id 
                             left outer join sj_tb_admin a on a.id=p.user_id         
                             left outer join sj_tb_order o on o.member_id = m.id  and p.member_id=o.member_id             
                             and o.disabled='false'and o.status='0' and o.pay_status='1' and o.ship_status='3'
                             and o.createtime>=add_months(sysdate,-3))n
                         
                       left join sj_tb_order_items i on n.oid=i.order_id and i.target_type='sku')f  
                      
             group by f.mname,f.tname,f.id,f.shop_name,f.address,f.zhengmian,f.shopkeeperName,f.shopkeeperBirth,
                      f.anniversaryBirth,f.username,f.stockRate,f.stockNum,f.pm,f.om,f.disabled,f.targetType)g
                      
        left outer join sj_tb_order r on g.om=r.member_id and r.disabled='false'and 
                                         r.status='0' and r.pay_status='1' and r.ship_status='3'
        group by g.mname,g.tname,g.id,g.shop_name,g.address,g.zhengmian,g.shopkeeperName,g.shopkeeperBirth,g.anniversaryBirth,
                 g.username,g.stockRate,g.stockNum,g.pm,g.om,g.disabled,g.targetType,g.oid,g.nums)
                       
        where  id is not null       
           <if test="shopName !=null and shopName !=''">
           and lower(shop_name) like lower('%${shopName}%')
           </if>
           <if test="shopkeeperName !=null and shopkeeperName !=''">
           and lower(shopkeeperName) like lower('%${shopkeeperName}%')
           </if>
		   <if test="aname !=null and aname !=''">
		   and lower(username) like lower('%${aname}%')
		   </if>
		   <if test="tname !=null and tname !=''">
		   and lower(tname) like lower('%${tname}%')
		   </if>
		   
<!-- 		   <if test="anniversaryBirth !=null">
		   and anniversary_birth = #{anniversaryBirth,jdbcType=TIMESTAMP} 
		   </if>
 -->	   
 		   <if test="_oneStartTime != null" >
		   and anniversaryBirth &gt;= #{_oneStartTime,jdbcType=TIMESTAMP}
		   </if>	
		   <if test="_oneEndTime != null" >
		   and anniversaryBirth &lt;= #{_oneEndTime,jdbcType=TIMESTAMP}
		   </if>		
		    <if test="_startTime != null" >
		   and shopkeeperBirth &gt;= #{_startTime,jdbcType=TIMESTAMP}
		   </if>	
		   <if test="_endTime != null" >
		   and shopkeeperBirth&lt;= #{_endTime,jdbcType=TIMESTAMP}
		   </if>	
		   <if test="sort != null">
		   order by ${sort}
		   </if>
		   <if test="order != null">
		   ${order}
		   </if>	  
  		   
  		)t	
  	 )  where <![CDATA[RN <= #{page}*#{rows}]]>) where  RN>(#{page}-1)*#{rows}
  </select>
  <!-- 	获取apps列表总行数 -->
  <select id="gainAppsListCount" parameterType="com.sanji.sjzx.model.Apps" resultType="Long">
  	select count(ID) from sj_tb_app
  </select>
  <!-- 根据app的主键id查询该id相应的记录 -->
  <select id="gainAppsById" parameterType="java.lang.String" resultType="com.sanji.sjzx.model.Apps">
  	select m.username as mname,p.id,
	   p.ADDRESS,p.SHOP_NAME as shopName,p.BUSINESS_AREA as businessArea,p.COUNTER_NUM as counterNum,
	   p.BUSINESS_YEAR as businessYear,p.SHOPKEEPER_NAME as shopkeeperName,p.SHOPKEEPER_BIRTH as shopkeeperBirth,
	   p.MOBILE,p.TELEPHONE,p.qq,p.ANNIVERSARY_BIRTH as anniversaryBirth,
	   p.FUNCTION_LING_SANBAI as functionLingSanbai,
	   p.FUNCTION_SANBAI_LIUBAI as functionSanbaiLiubai,
	   p.FUNCTION_LIUBAI_YIQIAN as functionLiubaiYiqian,
	   p.FUNCTION_YIQIAN_YIQIANWU as functionYiqianYiqianwu,
	   p.FUNCTION_YIQIANWU_MORE as functionYiqianwuMore,
	   p.SMART_LING_SANBAI as smartLingSanbai,
	   p.SMART_SANBAI_LIUBAI as smartSanbaiLiubai,
	   p.SMART_LIUBAI_YIQIAN as smartLiubaiYiqian,
	   p.SMART_YIQIAN_YIQIANWU as smartYiqianYiqianwu,
	   p.SMART_YIQIANWU_MORE as smartYiqianwuMore,
	   p.store,p.agent,p.OPERATION,p.FACTORY,p.STOCK_RATE as stockRate,p.STOCK_NUM as stockNum,
	   p.BRAND1, p.BRAND2, p.BRAND3, p.BRAND4, p.BRAND_OTHER as brandOther, 
	   p.SALE1, p.SALE2, p.SALE3, p.SALE4, p.SALE_OTHER as saleOther,
	   p.ZHENGMIAN, p.HEYING, p.QIANMIAN, p.HOUMIAN, p.ZUOMIAN, p.YOUMIAN,
	   a.username as aname  from sj_tb_app p
	   left outer join sj_tb_members m on m.id=p.member_id 
	   left outer join sj_tb_admin a on a.id=p.user_id
	   where p.id =#{id,jdbcType=VARCHAR}
  </select>
  <!-- 根据memberId查询相应商铺记录 -->
  <select id="gainAppsByMemberId" parameterType="java.lang.String" resultType="com.sanji.sjzx.model.Apps">
  	select <include refid="Base_Column_List" /> from sj_tb_app where MEMBER_ID = #{memberId,jdbcType=VARCHAR}
  </select>
  <!-- 修改商家信息 -->
  <update id="updateAppsById" parameterType="java.lang.String">
    update SJ_TB_APP
    <set>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        SHOP_NAME = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="businessArea != null">
        BUSINESS_AREA = #{businessArea,jdbcType=DECIMAL},
      </if>
      <if test="counterNum != null">
        COUNTER_NUM = #{counterNum,jdbcType=DECIMAL},
      </if>
      <if test="businessYear != null">
        BUSINESS_YEAR = #{businessYear,jdbcType=DECIMAL},
      </if>
      <if test="shopkeeperName != null">
        SHOPKEEPER_NAME = #{shopkeeperName,jdbcType=VARCHAR},
      </if>
      <if test="shopkeeperBirth != null">
        SHOPKEEPER_BIRTH = #{shopkeeperBirth,jdbcType=DATE},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="anniversaryBirth != null">
        ANNIVERSARY_BIRTH = #{anniversaryBirth,jdbcType=DATE},
      </if>
      <if test="functionLingSanbai != null">
        FUNCTION_LING_SANBAI = #{functionLingSanbai,jdbcType=DECIMAL},
      </if>
      <if test="functionSanbaiLiubai != null">
        FUNCTION_SANBAI_LIUBAI = #{functionSanbaiLiubai,jdbcType=DECIMAL},
      </if>
      <if test="functionLiubaiYiqian != null">
        FUNCTION_LIUBAI_YIQIAN = #{functionLiubaiYiqian,jdbcType=DECIMAL},
      </if>
      <if test="functionYiqianYiqianwu != null">
        FUNCTION_YIQIAN_YIQIANWU = #{functionYiqianYiqianwu,jdbcType=DECIMAL},
      </if>
      <if test="functionYiqianwuMore != null">
        FUNCTION_YIQIANWU_MORE = #{functionYiqianwuMore,jdbcType=DECIMAL},
      </if>
      <if test="smartLingSanbai != null">
        SMART_LING_SANBAI = #{smartLingSanbai,jdbcType=DECIMAL},
      </if>
      <if test="smartSanbaiLiubai != null">
        SMART_SANBAI_LIUBAI = #{smartSanbaiLiubai,jdbcType=DECIMAL},
      </if>
      <if test="smartLiubaiYiqian != null">
        SMART_LIUBAI_YIQIAN = #{smartLiubaiYiqian,jdbcType=DECIMAL},
      </if>
      <if test="smartYiqianYiqianwu != null">
        SMART_YIQIAN_YIQIANWU = #{smartYiqianYiqianwu,jdbcType=DECIMAL},
      </if>
      <if test="smartYiqianwuMore != null">
        SMART_YIQIANWU_MORE = #{smartYiqianwuMore,jdbcType=DECIMAL},
      </if>
      <if test="store != null">
        STORE = #{store,jdbcType=DECIMAL},
      </if>
      <if test="agent != null">
        AGENT = #{agent,jdbcType=DECIMAL},
      </if>
      <if test="operation != null">
        OPERATION = #{operation,jdbcType=DECIMAL},
      </if>
      <if test="factory != null">
        FACTORY = #{factory,jdbcType=DECIMAL},
      </if>
      <if test="stockRate != null">
        STOCK_RATE = #{stockRate,jdbcType=DECIMAL},
      </if>
      <if test="stockNum != null">
        STOCK_NUM = #{stockNum,jdbcType=DECIMAL},
      </if>
      <if test="brand1 != null">
        BRAND1 = #{brand1,jdbcType=VARCHAR},
      </if>
      <if test="brand2 != null">
        BRAND2 = #{brand2,jdbcType=VARCHAR},
      </if>
      <if test="brand3 != null">
        BRAND3 = #{brand3,jdbcType=VARCHAR},
      </if>
      <if test="brand4 != null">
        BRAND4 = #{brand4,jdbcType=VARCHAR},
      </if>
      <if test="brandOther != null">
        BRAND_OTHER = #{brandOther,jdbcType=VARCHAR},
      </if>
      <if test="sale1 != null">
        SALE1 = #{sale1,jdbcType=DECIMAL},
      </if>
      <if test="sale2 != null">
        SALE2 = #{sale2,jdbcType=DECIMAL},
      </if>
      <if test="sale3 != null">
        SALE3 = #{sale3,jdbcType=DECIMAL},
      </if>
      <if test="sale4 != null">
        SALE4 = #{sale4,jdbcType=DECIMAL},
      </if>
      <if test="saleOther != null">
        SALE_OTHER = #{saleOther,jdbcType=DECIMAL},
      </if>
<!--       <if test="zhengmian != null">
        ZHENGMIAN = #{zhengmian,jdbcType=VARCHAR},
      </if>
      <if test="heying != null">
        HEYING = #{heying,jdbcType=VARCHAR},
      </if>
      <if test="qianmian != null">
        QIANMIAN = #{qianmian,jdbcType=VARCHAR},
      </if>
      <if test="houmian != null">
        HOUMIAN = #{houmian,jdbcType=VARCHAR},
      </if>
      <if test="zuomian != null">
        ZUOMIAN = #{zuomian,jdbcType=VARCHAR},
      </if>
      <if test="youmian != null">
        YOUMIAN = #{youmian,jdbcType=VARCHAR},
      </if>
      <if test="imgType != null">
        IMG_TYPE = #{imgType,jdbcType=VARCHAR},
      </if> -->
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>