<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanji.sjzx.dict.dao.DictMapper" >
  <resultMap id="BaseResultMap" type="com.sanji.sjzx.model.Dict" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DICT_NAME" property="dictName" jdbcType="VARCHAR" />
    <result column="DICT_VALUE" property="dictValue" jdbcType="VARCHAR" />
    <result column="DICT_GROUP" property="dictGroup" jdbcType="VARCHAR" />
    <result column="dictId" property="dictId" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 根据id获取下拉框 -->
  <select id="gainDictList" resultType="com.sanji.sjzx.model.Dict">
  	select ID as dictId, DICT_NAME as dictName, DICT_VALUE as dictValue, DICT_GROUP as dictGroup from SJ_TB_DICT
  </select>
  <!-- 获取制式下拉框 -->
  <select id="gainStandardList" resultType="com.sanji.sjzx.model.Dict">
  	select ID as dictId, DICT_NAME as standard, DICT_VALUE as standard, DICT_GROUP as dictGroup from SJ_TB_DICT
  	where DICT_GROUP ='STANDARD'
  </select>
  <!-- 获取适用网络类型下拉框 -->
  <select id="gainNetSuitList" resultType="com.sanji.sjzx.model.Dict">
  	select ID , DICT_NAME as netsuitType, DICT_VALUE as netsuitType, DICT_GROUP as dictGroup from SJ_TB_DICT
  	where DICT_GROUP ='NETSUITTYPE'
  </select>
</mapper>