<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanji.sjzx.color.dao.ColorMapper" >
  <resultMap id="BaseResultMap" type="com.sanji.sjzx.model.Color" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="COLOR_NAME" property="colorName" jdbcType="VARCHAR" />
    <result column="COLOR_RGB" property="colorRgb" jdbcType="VARCHAR" />
    <result column="colorId" property="colorId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, COLOR_NAME, COLOR_RGB
  </sql>
  <!-- 获取所有颜色 -->
  <select id="gainAllColors" resultMap="BaseResultMap" parameterType="com.sanji.sjzx.model.Color">
       select COLOR_NAME from  SJ_TB_COLOR
  </select>
  <!-- 物理删除颜色 -->
  <delete id="deleteByIds" parameterType="java.util.List">
    delete from SJ_TB_COLOR where ID in
     <foreach collection="list" item="cids"  open="(" separator="," close=")">#{cids}</foreach>    
  </delete>
  <!-- 判断颜色是否正在使用 -->
  <select id="gainColorByIds" resultMap="BaseResultMap" parameterType="java.util.List">
  	select
  	<include refid="Base_Column_List" />
       from SJ_TB_COLOR where ID in (select 
  	     COLOR_ID from SJ_TB_GOODS_SKU where COLOR_ID in
  	  <foreach collection="list" item="cids"  open="(" separator="," close=")">#{cids}</foreach>       
  	)
  </select>
  <!-- 更新标签 -->
  <update id="modifyColor" parameterType="com.sanji.sjzx.model.Color" >
    update SJ_TB_COLOR
    <set >
      <if test="colorName != null" >
        COLOR_NAME = #{colorName,jdbcType=VARCHAR},
      </if>
      <if test="colorRgb != null" >
        COLOR_RGB = #{colorRgb,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <!-- 根据颜色名称和id验证颜色是否已存在 -->
  <select id="gainColorByMap" resultType="java.lang.Long" parameterType="map">
  	select count(ID) from SJ_TB_COLOR where COLOR_NAME = #{colorName} 
  	<if test="id != null and id != ''">
  	  and ID != #{id}
  	</if>
  </select>
  
  <!--获取总行数 -->
  <select id="gainColorCount" resultType="java.lang.Long" parameterType="com.sanji.sjzx.model.Color">
    select count(ID) from SJ_TB_COLOR
  </select>
  <!--获取颜色列表 -->
  <select id="gainColorList" resultMap="BaseResultMap" parameterType="com.sanji.sjzx.model.Color">
   	select * from (select * from (  
  		select ROWNUM AS RN,t.* from (
	  		select 
		    <include refid="Base_Column_List" />
		    from SJ_TB_COLOR where ID is not null
		    <if test="colorName != null and colorName != ''" >
		    and COLOR_NAME like '%${colorName}%'
			</if>		
			
	    ) t
     ) where <![CDATA[RN <= #{page}*#{rows}]]>) where  RN>(#{page}-1)*#{rows}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from SJ_TB_COLOR
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <!-- 获取所有颜色 -->
  <select id="gainAllColor" resultType="com.sanji.sjzx.model.Color">
  	select  ID as colorId, COLOR_NAME as colorName from SJ_TB_COLOR
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from SJ_TB_COLOR
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.sanji.sjzx.model.Color" >
    insert into SJ_TB_COLOR (ID, COLOR_NAME, COLOR_RGB
      )
    values (SEQ_COLOR_ID.NEXTVAL, #{colorName,jdbcType=VARCHAR}, #{colorRgb,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanji.sjzx.model.Color" >
  	
    insert into SJ_TB_COLOR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="colorName != null" >
        COLOR_NAME,
      </if>
      <if test="colorRgb != null" >
        COLOR_RGB,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="colorName != null" >
        #{colorName,jdbcType=VARCHAR},
      </if>
      <if test="colorRgb != null" >
        #{colorRgb,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanji.sjzx.model.Color" >
    update SJ_TB_COLOR
    <set >
      <if test="colorName != null" >
        COLOR_NAME = #{colorName,jdbcType=VARCHAR},
      </if>
      <if test="colorRgb != null" >
        COLOR_RGB = #{colorRgb,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanji.sjzx.model.Color" >
    update SJ_TB_COLOR
    set COLOR_NAME = #{colorName,jdbcType=VARCHAR},
      COLOR_RGB = #{colorRgb,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>