<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanji.sjzx.goodsLabel.dao.GoodsLabelMapper" >
  <resultMap id="BaseResultMap" type="com.sanji.sjzx.model.GoodsLabel" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="GOODS_ID" property="goodsId" jdbcType="VARCHAR" />
    <result column="LABEL_ID" property="labelId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, GOODS_ID, LABEL_ID
  </sql>
  <!--根据id查询goods_id  -->
  <select id="gainGoodsLabelByIds" resultType="java.lang.String" parameterType="java.util.List">
	select GOODS_ID from SJ_TB_GOODS_LABEL
  		where LABEL_ID in 
  	 		<foreach collection="list" item="glids"  open="(" separator="," close=")">#{glids}</foreach>       
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SJ_TB_GOODS_LABEL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SJ_TB_GOODS_LABEL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sanji.sjzx.model.GoodsLabel" >
    insert into SJ_TB_GOODS_LABEL (ID, GOODS_ID, LABEL_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, #{labelId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanji.sjzx.model.GoodsLabel" >
    insert into SJ_TB_GOODS_LABEL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="goodsId != null" >
        GOODS_ID,
      </if>
      <if test="labelId != null" >
        LABEL_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="labelId != null" >
        #{labelId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanji.sjzx.model.GoodsLabel" >
    update SJ_TB_GOODS_LABEL
    <set >
      <if test="goodsId != null" >
        GOODS_ID = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="labelId != null" >
        LABEL_ID = #{labelId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanji.sjzx.model.GoodsLabel" >
    update SJ_TB_GOODS_LABEL
    set GOODS_ID = #{goodsId,jdbcType=VARCHAR},
      LABEL_ID = #{labelId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>