<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanji.sjzx.regions.dao.RegionsPriceMapper" >
  <resultMap id="BaseResultMap" type="com.sanji.sjzx.model.RegionsPrice" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="GOODS_SKU_ID" property="goodsSkuId" jdbcType="VARCHAR" />
    <result column="REGIONS_ID" property="regionsId" jdbcType="VARCHAR" />
    <result column="FLOAT_PRICE" property="floatPrice" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="DISABLED" property="disabled" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, GOODS_SKU_ID, REGIONS_ID, FLOAT_PRICE, CREATE_TIME, USER_ID, DISABLED
  </sql>
  <!-- 查询所有数据 -->
  <select id="gainAllRegionsPrice" resultType="com.sanji.sjzx.model.RegionsPrice">
  	select ID, GOODS_SKU_ID as goodsSkuId, REGIONS_ID as regionsId, FLOAT_PRICE as floatPrice, CREATE_TIME as createTime, 
  		   USER_ID as userId, DISABLED from SJ_TB_SKU_REGIONS_PRICE 
  	where DISABLED='false'
  </select>
  <!-- 添加地域价格信息 -->
  <insert id="addRegionsPrice" parameterType="com.sanji.sjzx.model.RegionsPrice" >
    insert into SJ_TB_SKU_REGIONS_PRICE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="goodsSkuId != null" >
        GOODS_SKU_ID,
      </if>
      <if test="regionsId != null" >
        REGIONS_ID,
      </if>
      <if test="floatPrice != null" >
        FLOAT_PRICE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="disabled != null" >
        DISABLED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="goodsSkuId != null" >
        #{goodsSkuId,jdbcType=VARCHAR},
      </if>
      <if test="regionsId != null" >
        #{regionsId,jdbcType=VARCHAR},
      </if>
      <if test="floatPrice != null" >
        #{floatPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null" >
        #{disabled,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 根据单品id即goodsSkuId修改地域价格信息 -->
  <update id="updateRegionsPriceBySkuId" parameterType="com.sanji.sjzx.model.RegionsPrice" >
    update SJ_TB_SKU_REGIONS_PRICE
    <set >
<!--       <if test="id != null">
      	ID = #{id,jdbcType=VARCHAR},
      </if>
 -->      <if test="regionsId != null" >
        REGIONS_ID = #{regionsId,jdbcType=VARCHAR},
      </if>
      <if test="floatPrice != null" >
        FLOAT_PRICE = #{floatPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null" >
        DISABLED = #{disabled,jdbcType=VARCHAR},
      </if>
    </set>
    where GOODS_SKU_ID = #{goodsSkuId,jdbcType=VARCHAR}
  </update>
  
    <!-- 根据订单区域价格id修改地域价格信息 -->
  <update id="updateRegionsPriceById" parameterType="com.sanji.sjzx.model.RegionsPrice" >
    update SJ_TB_SKU_REGIONS_PRICE
    <set >
      <if test="floatPrice != null" >
        FLOAT_PRICE = #{floatPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null" >
        DISABLED = #{disabled,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据单品id即goodsSkuId获取相应单品的地域价格 -->
  <select id="gainRegionsPriceBySkuId" parameterType="java.lang.String" resultType="com.sanji.sjzx.model.RegionsPrice">
  	select ID, GOODS_SKU_ID as goodsSkuId, REGIONS_ID as regionsId, FLOAT_PRICE as floatPrice, CREATE_TIME as createTime, 
  		   USER_ID as userId, DISABLED from SJ_TB_SKU_REGIONS_PRICE 
  	where DISABLED='false' and GOODS_SKU_ID = #{goodsSkuId,jdbcType=VARCHAR}
  </select>
 </mapper>